* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: black;
}

li {
  list-style: none;
}

body {
  background-color: hsla(0, 0%, 90%, 0.87);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  background-color: hsl(194, 32%, 42%);
  position: fixed;
  font-size: 1.2rem;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  z-index: 100;
}

header ul {
  display: flex;
  list-style: none;
  gap: 0.8rem;
}

header ul li {
  font-size: 1.4rem;
  border-radius: 6px;
}

header ul li:hover {
  color: white;
  background-color: hsla(0, 0%, 30%, 0.795);
}

.left-row {
  display: flex;
  align-items: center;
}

.middle-row form {
  background-color: white;
  width: auto;
  border: 1.5px solid hsl(0, 0%, 28%);
  border-radius: 5px;
}

.middle-row form input {
  outline: none;
  border: none;
  text-align: center;
  padding: 0.3rem;
}

.middle-row form input::placeholder {
  margin: auto;
  font-size: 1.2rem;
}

.middle-row form button img {
  width: 1.4rem;
  height: 1.4rem;
}

.middle-row form button {
  cursor: pointer;
  padding: 0.4rem;
  border: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.middle-row form button:hover {
  color: white;
  font-weight: bold;
  background-color: hsla(0, 0%, 30%, 0.795);
}
.right-row {
  display: flex;
  align-items: center;
}

.right-row ul {
  cursor: pointer;
}

.right-row ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.right-row ul li img {
  margin-right: 0.3rem;
  width: 1.3rem;
  height: 1.3rem;
}

.left-row span {
  cursor: pointer;
}

.left-row img {
  cursor: pointer;
  object-fit: cover;
  margin-right: 0.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.last {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-left: 3rem;
  font-size: 1.4rem;
  border-radius: 6px;
  padding: 0.5rem;
}

.last img {
  width: 1.5rem;
  height: 1.5rem;
}

.last:hover {
  color: white;
  background-color: hsla(0, 0%, 30%, 0.795);
}

.profile {
  font-size: 1.4rem;
  border-radius: 6px;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.profile:hover {
  color: white;
  background-color: hsla(0, 0%, 30%, 0.795);
}

.profile img {
  object-fit: cover;
  margin-right: 0.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* sidebar section */

.sidebar {
  color: white;
  background-color: hsl(207, 43%, 13%);
  position: fixed;
  width: 16rem;
  top: 3.5rem;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar .title {
  padding: 1rem;
  text-align: center;
}

.sidebar-items {
  color: white;
  margin: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.8rem;
}

.sidebar-items:hover {
  color: white;
  font-weight: bold;
  background-color: hsla(0, 0%, 30%, 0.795);
}

/* .closebtn {
  display: inline-block;
  font-size: 2rem;
  color: white;
  position: relative;
  background-color: antiquewhite;
  top: 0;
} */

/* content area */

.container {
  overflow-y: auto;
  font-size: 1.2rem;
  height: 87vh;
  width: auto;
  background-color: hsla(0, 0%, 77%, 0.5);
  padding: 1rem;
  margin-top: 4rem;
  margin-left: 16.5rem;
  margin-right: 0.4rem;
  margin-bottom: 4rem;
  border-radius: 7px;
}

.container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* footer section */

.endnote {
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: hsla(0, 0%, 77%, 0.5);
  height: 3rem;
  text-align: center;
  justify-content: center;
  margin-left: 16.5rem;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
  border-radius: 7px;
}
