<!-- manage_users.html -->
{% extends 'admin_base.html' %}
<!-- prettier-ignore -->
{% block title %}Manage Users{% endblock %}
<!-- prettier-ignore -->
{% block content %}

<h2>Manage Users</h2>
<a
  href="{% url 'custom_admin_dashboard:admin_add_user' %}"
  class="btn-action btn-warning"
  >Add User</a
>
<!-- Table Structure -->
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        <a
          href="{% url 'custom_admin_dashboard:admin_edit_user' user.id %}"
          class="btn-action btn-warning"
        >
          <i class="fas fa-pencil-alt"></i> Edit
        </a>
        <a
          href="{% url 'custom_admin_dashboard:admin_delete_user' user.id %}"
          class="btn-action btn-danger"
        >
          <i class="fas fa-trash-alt"></i> Delete
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
