<!-- prettier-ignore -->
{% extends 'admin_base.html' %} {% block title %}Manage Departments{% endblock %} 
{% block content %}
<h2>Manage Departments</h2>
<a
  href="{% url 'custom_admin_dashboard:admin_add_department' %} "
  class="btn-action btn-warning"
  >Add New Department</a
>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for department in departments %}
    <tr>
      <td>{{ department.name }}</td>
      <td>
        <a
          href="{% url 'custom_admin_dashboard:admin_view_department' department.id %}"
          class="btn-action btn-warning"
        >
          <i class="fas fa-eye"></i> View
        </a>
        <a
          href="{% url 'custom_admin_dashboard:admin_edit_department' department.id %}"
          class="btn-action btn-warning"
        >
          <i class="fas fa-pencil-alt"></i> Edit
        </a>
        <a
          href="{% url 'custom_admin_dashboard:admin_delete_department' department.id %}"
          class="btn-action btn-danger"
        >
          <i class="fas fa-trash-alt"></i> Delete
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
