<!-- prettier-ignore -->
{% extends 'admin_base.html' %} 
{% block title %}Add Document{% endblock %} 
{% block content %}

<h2>Upload Document</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_file_content" class="col-form-label">File:</label>
    <input
      type="file"
      name="file_content"
      id="id_file_content"
      class="form-control"
      accept="application/pdf,image/*,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>

{% if messages %}
<div class="alert alert-info mt-3">
  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %}
</div>
{% endif %} {% endblock %}
