<!-- prettier-ignore -->
{% extends 'admin_base.html' %} {% block title %}Manage Documents{% endblock %} 
 {% block content %}
<h2>Manage Documents</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Folder</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for document in documents %}
    <tr>
      <td>{{ document.name }}</td>
      <td>{{ document.folder.name }}</td>
      <td>
        <a
          href="{% url 'custom_admin_dashboard:admin_view_document_content' document.id %}"
          class="btn-action btn-warning"
        >
          <i class="fas fa-eye"></i> View
        </a>
        <a
          href="{% url 'custom_admin_dashboard:admin_edit_document' document.id %}"
          class="btn-action btn-warning"
        >
          <i class="fas fa-pencil-alt"></i> Edit
        </a>
        <a
          href="{% url 'custom_admin_dashboard:admin_delete_document' document.id %}"
          class="btn-action btn-danger"
          onclick="return confirm('Are you sure you want to delete this document?');"
        >
          <i class="fas fa-trash-alt"></i> Delete
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
