<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    {% block extra_css %}{% endblock %}
    <title>{% block title %}Document Management System{% endblock %}</title>
  </head>
  <body>
    <header>
      <a
        href="{% if user.is_superuser %}{% url 'custom_admin_dashboard:admin_dashboard' %}{% else %}{% url 'documents:home' %}{% endif %}"
      >
        <div class="left-row">
          <img
            src="{% static 'images/logo.jpg' %}"
            alt="logo image"
            width="50"
            height="50"
          />
          <span>LOGO</span>
        </div>
      </a>
      <div class="middle-row">
        <form action="{% url 'documents:search' %}" method="get">
          <input type="text" name="q" placeholder="Search" required />
          <button type="submit">
            <img src="{% static 'images/search.png' %}" alt="Search" />
          </button>
        </form>
      </div>
      <div class="right-row">
        <ul>
          <a
            href="{% if user.is_superuser %}{% url 'custom_admin_dashboard:admin_dashboard' %}{% else %}{% url 'documents:home' %}{% endif %}"
          >
            <li>
              <span
                ><img src="{% static 'images/home.png' %}" alt="Home" /></span
              >Home
            </li>
          </a>
          <a href="#">
            <li>
              <span
                ><img
                  src="{% static 'images/notification.png' %}"
                  alt="Notifications" /></span
              >Notifications
            </li>
          </a>
        </ul>
        <a href="#">
          <div class="profile">
            <img
              src="{% static 'images/profile.jpg' %}"
              alt="profile picture"
              width="50"
              height="50"
            />
            <span>{{ user.username }}</span>
          </div>
        </a>
        <a href="{% url 'documents:logout' %}">
          <div class="last">
            <span>Logout</span>
            <img src="{% static 'images/logout.png' %}" alt="Logout" />
          </div>
        </a>
      </div>
    </header>

    <main>
      <section>
        <div class="sidebar">
          <!-- <div class="closebtn">
                  <span>x</span>
                </div> -->
          <div class="title">
            <h1>Departments</h1>
          </div>

          <div class="sidebar-list">
            <nav>
              <ul>
                <a href="{% url 'custom_admin_dashboard:manage_users' %}"
                  ><div class="sidebar-items"><li>Manage Users</li></div></a
                >
                <a href="{% url 'custom_admin_dashboard:admin_departments' %}"
                  ><div class="sidebar-items">
                    <li>Manage Departments</li>
                  </div></a
                >
                <a href="{% url 'custom_admin_dashboard:admin_documents' %}"
                  ><div class="sidebar-items"><li>Manage Documents</li></div></a
                >
                <a href="{% url 'custom_admin_dashboard:admin_folders' %}"
                  ><div class="sidebar-items"><li>Manage Folders</li></div></a
                >
              </ul>
            </nav>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          {% if messages %} {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %} {% endif %}
          <!-- prettier-ignore-start -->
          {% block content %} {% endblock %}
          <!-- prettier-ignore-end -->
        </div>
      </section>
    </main>

    <footer>
      <div class="endnote">
        <p>COPYRIGHT | SAMUEL 2024 | +254 712 345 678, +245 787 654 321</p>
      </div>
    </footer>
  </body>
</html>
