<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Document Management System{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a
        class="navbar-brand"
        href="{% if user.is_superuser %}{% url 'custom_admin_dashboard:admin_dashboard' %}{% else %}{% url 'documents:home' %}{% endif %}"
        >Document Management</a
      >
      <div class="collapse navbar-collapse" id="navbarNav">
        <form
          class="form-inline my-2 my-lg-0"
          method="get"
          action="{% url 'documents:search' %}"
        >
          <input
            class="form-control mr-sm-2"
            type="text"
            name="q"
            placeholder="Search..."
            required
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'documents:logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'documents:login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'documents:register' %}"
              >Register</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="list-group">
            <h5>Departments</h5>
            {% for department in departments %}
            <a
              href="{% url 'documents:department_detail' department.id %}"
              class="list-group-item list-group-item-action"
            >
              {{ department.name }}
            </a>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-9">
          {% if messages %} {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %} {% endif %} {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    {% comment %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% endcomment %}
  </body>
</html>
