<!-- templates/documents/document_list.html -->
<!-- prettier-ignore -->

<!-- templates/documents/document_list.html -->
{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/svg.css' %}" />
<link rel="stylesheet" href="{% static 'css/files.css' %}" />
{% endblock %}
<!-- prettier-ignore -->
{% block title %}Documents{% endblock %}
<!-- prettier-ignore -->
{% block content %}
{% if documents %}
<h2>Documents</h2>

<!-- Button to upload a document -->
<div style="text-align: right">
  <a
    href="{% url 'documents:upload_document' department_id=department_id folder_id=folder.id %}"
    class="btn btn-primary"
  >
    Upload Document
  </a>
</div>

<ul>
  {% for document in documents %}
  <div class="file-container">
    <a href="{% url 'documents:view_document_content' document.id %}">
      <div class="file-items">
        <img
          src="{% static 'images/doc.png' %}"
          alt="document"
          width="120rem"
          height="135rem"
        />
        <div class="file-details">
          <p>{{ document.file_name }}</p>
          <p>{{ document.created_by }}</p>
          <p>{{ document.created_at }}</p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</ul>
{% else %}
<div class="svg-container">
  <div class="svg-items">
    <img src="{% static 'images/No data-cuate.svg' %}" alt="Nothing found" />
    <div class="svg-details">
      <p>Ooops, no documents available at the moment</p>
    </div>
  </div>
</div>
{% endif %}
<!-- prettier-ignore -->
{% endblock %}
