<!-- templates/documents/folder_detail.html -->
{% extends 'base.html' %} {% block title %}Folder Details{% endblock %} {% block
content %}
<h2>Folder: {{ folder.name }}</h2>

<div class="file-container">
  {% for document in documents %}
  <a href="{% url 'documents:view_document' document.id %}">
    <div class="file-items">
      <img
        src="{% static 'images/doc.png' %}"
        alt="document"
        width="120rem"
        height="135rem"
      />
      <div class="file-details">
        <p>Name:{{ document.file_name }}</p>
        <p>Date:{{ document.created_at }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
